/* 
.center{
    height: 86vh;
} */

.feed-container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 82vh;
    overflow: auto;
    scrollbar-width: none;
}

.feed-container::-webkit-scrollbar {
    display: none;
  }